@page
@model tableRazorAssigment.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" class="max-width-600 container">
    @if (ViewData["SuccessMessage"] != null)
    {
        <p><ins>@ViewData["SuccessMessage"]</ins></p>
    }
    @if (ViewData["ErrorMessage"] != null)
    {
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
    }
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
    </div>


    <button style ="width:250px" type="submit">Recover</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}