@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



@if (SignInManager.IsSignedIn(User))
{

    @section Scripts {
        <script src="Index.cshtml.js"></script>
    }
}
else
{
    <div class="">
        <h1 class="">Welcome</h1>
        <p>To use web application please log in</p>
    </div>
}