@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<form method="post" class="max-width-600 container">
    <h1>@ViewData["Title"]</h1>
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Input.UserId" />
    <input type="hidden" asp-for="Input.Code" />

    <div>
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" type="password"/>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" type="password"/>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit">Reset password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}