@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

@if (ViewData["Error"] is not null)
{
    <p class="text-danger">@ViewData["Error"]</p>
}
else
{
<form method="post" class="max-width-600 container">
    <h1>@ViewData["Title"]</h1>
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Input.UserId" />
    <input type="hidden" asp-for="Input.Code" />

    <div>
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" type="password"/>
    </div>

    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" type="password"/>
    </div>

    <button type="submit">Reset password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
}