<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tableRazorAssigment</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/picocss/pico.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tableRazorAssigment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="container">
            <ul>
                <li><strong><a class="brand-link" asp-page="/Index">The app</a></strong></li>
            </ul>
            <ul>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </nav>
    </header>   
 
    <main class="container">
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>